/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     width: 100%;
     height: 100vh;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Start Header */
header {  
     width: 100%;
     display: flex;
     justify-content: flex-end;
     background: linear-gradient(90deg, rgba(219, 230, 234, 1) 49%, rgba(255, 255, 255, 1) 100%);
}
.nav {
     display: flex;
}
.nav-list {
     display: flex;
     justify-content: space-around;
     gap: 25px;
     flex-flow: row wrap;
     list-style: none;
}
/* End Header */
/* Start Main */
.main {
     display: flex;
     justify-content: space-between;
     background: linear-gradient(90deg, rgba(219, 230, 234, 1) 49%, rgba(255, 255, 255, 1) 100%);
}
.main-content {
     padding-left: 10%;
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
}
.main-title {
     font-size: 4.5rem;
     width: 50%;
}
.input-field {
     border: 1px solid black;
     border-radius: 5px;
     width: 40%;
     height: 35px;
}
.btn {
     width: 100px;
     height: 35px;
}
.social-statistics {
     display: flex;
     gap: 25px;
     list-style: none;
}
.main-img {
     opacity: .7;
}
/* End Main */
/* Start About US */
.about-section {
     display: flex;
     background-image: url("../img/muesli.png");
     background-size:contain;
     background-repeat: no-repeat;
     background-position: 125%;
     opacity: .8;
}
.about-content {
     display: flex;
     flex-flow: column wrap;
     width: 50%;
     justify-content: center;
}
.about-span {
     color: orange;
}
.about-title {
     font-size: 3.5rem;
     width: 60%;
}
.about-text {
     line-height: 1.5rem;
     font-size: 1rem;
}
.about-btn {
     background-color: #f68802;
     border-top: 2px solid transparent;
     border-bottom: 2px solid transparent;
     border-left: 2px solid transparent;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
     position: relative;
     width: 150px;
     height: 40px;
}
.about-btn::after {
     content: "->";
     position: absolute;
     width: 25%;
     height: 100%;
     border-right: 2px solid transparent;
     border-top: 2px solid transparent;
     border-bottom: 2px solid transparent;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     transform: translate(55%, -28%);
     background-color: #f8ac52;
}
/* End About US */
/* Start Order */
.order {
     display: flex;
     flex-flow: column wrap;
     place-content: center;
     align-items: center;
}
.order-span {
     color: orange;
}
.order-title {
     font-size: 3.5rem;
}
.carousel {
}    
.carousel-list,
.carousel-img {
     display: flex;
     list-style: none;
     flex-wrap: wrap;
}
.carousel-list {
     justify-content: space-evenly;
}
.carousel-img {
     width: 100%;
}
.carousel-img li {
     display: flex;
     align-content: center;
}
.carousel-img img{
     height: 90%;
}
/* End Order */
/* Start Book */
.book {
     display: flex;
     flex-flow: column wrap;
     place-content: center;
     align-items: center;
}
.book-table {
     color: orange;
}
.book-title {
     font-size: 2.5rem;
}
.book .fa-phone {
     border: 1px solid #f18d3b;
     border-radius: 50%;
     color: #f18d3b;
     padding: 15px;
}
.book-number {
     font-size: 2rem;
     color: #f18d3b;
}
.book-content {
     display: flex;
     width: 60%;
     justify-content: space-between;
}
.book-video {
     width: 850px;
     height: 550px;
     border: 1px solid red;
     background-image: url("../img/different-coffee-cups-arrangement-top-view.png");
     
}
/* End Book */
/* Start Testomonials */
.testomonials {
     display: flex;
     flex-flow: column wrap;
     place-content: center;
     align-items: center;
}
.testomonial-span {
     color: orange;
}
.testomonial-title {
     font-size: 2.5rem;
}
/* End Testomonials */
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
